.about {
    position: relative;
    z-index: 1000;
}

.about__title {
    margin-bottom: 40px;
}

.about__info {
    margin: 0;
}

@media (max-width:1000px) {
    .about__title {
        text-align: center;
    }
}