body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  background-color: #fbfef9;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.content canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.content {
  max-width: 750px;
  margin: 0 auto;
}