.navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 1000;
}

.navigation__link {
    font-family: 'TitilliumBold';
    font-size: 18px;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    margin: 0 auto;
    margin-bottom: 10px;
}

.navigation__link:not(:first-child):hover {
    color: #2660A4;
    border-bottom: 2px solid #2660A4;
}

.navigation__link:first-child svg {
    width: 25px;
}

.navigation__link:first-child:hover path {
    fill: #2660A4;
}
